services:
  hoa-app:
    image: eclipse-temurin:21-jre-jammy
    container_name: hoa-quarkus-app
    # Critical: Map the whole folder, not just the jar
    volumes:
      - ./target/quarkus-app:/deployments:z
    working_dir: /deployments
    environment:
      - JAVA_OPTS=-Djava.util.logging.manager=org.jboss.logmanager.LogManager
    # Execute the jar using its relative path in the deployments folder
    command: java -jar /deployments/quarkus-run.jar
    ports:
      - "8081:8080"
    restart: always

  hoa-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: hoa-cloudflared
    command: tunnel --url http://hoa-quarkus-app:8080
    restart: always
