services:
  hoa-app:
    image: eclipse-temurin:21-jre-jammy
    container_name: hoa-quarkus-app
    volumes:
      # Map the whole target folder
      - ./target:/deployments:z
    working_dir: /deployments
    # Update this to match your actual jar name (check target/ after build)
    command: java -Djava.util.logging.manager=org.jboss.logmanager.LogManager -jar hoa-generic-1.0.0-SNAPSHOT-runner.jar
    ports:
      - "8081:8080"
    restart: always
