services:
  hoa-app:
    image: eclipse-temurin:21-jre-jammy
    container_name: hoa-quarkus-app
    volumes:
      # Map the directory using a bind mount with read permissions
      - ./target/quarkus-app:/deployments:ro
    working_dir: /deployments
    # Use the simplest command to start
    command: ["java", "-jar", "quarkus-run.jar"]
    ports:
      - "8081:8080"
    restart: always

  hoa-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: hoa-cloudflared
    command: tunnel --url http://hoa-quarkus-app:8080
    restart: always
