services:
  hoa-app:
    image: eclipse-temurin:21-jre-jammy
    container_name: hoa-quarkus-app
    volumes:
      - ./target/quarkus-app:/deployments
    working_dir: /deployments
    environment:
      - JAVA_OPTS=${JAVA_OPTS}
    command: java ${JAVA_OPTS} -jar quarkus-run.jar
    ports:
      - "8081:8080"
    restart: always

  hoa-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: hoa-cloudflared
    command: tunnel --url http://hoa-quarkus-app:8080
    restart: always
