services:
  hoa-app:
    image: quay.io/quarkus/quarkus-dist-image:latest
    container_name: hoa-quarkus-app
    ports:
      - "8081:8080"
    restart: always

  hoa-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: hoa-cloudflared
    command: tunnel --url http://hoa-quarkus-app:8080
    restart: always
